<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>婴儿详细资料</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
</head>
<body>
	<div class="nav-wrapper">
                <a id="L-arrow-left" class="arrow"><span>&lt;</span></a>
                <div class="nav-cont" id="L-nav">
                    <ul>
                        <li><a href="/html/visit_record.html">随访记录</a></li>
                        <li><a href="/html/grow_line.html/1">生长曲线</a></li>
                        <li><a href="#">生长速率</a></li>
                        <li class="ui-state-active"><a href="/html/baby_detail.html">详细资料</a></li>
                    </ul>
                </div>
                <a id="L-arrow-right" class="arrow"><span>&gt;</span></a>
           </div>

           <div class="baby-img">
              <a href="#">
                <img src="/static/img/system/head_picture/71X71.png" alt="" />
              </a>
           </div>

           <div class="need-list baby-info-items">
            <ul>
              <li>
                    <span>婴儿ID</span>
                    <span class="f-r">10001</span>
              </li>
              <li>
                       <span>婴儿名</span>
                    <span class="f-r">龙宝宝</span>
              </li>
              <li>
                       <span>性别</span>
                    <span class="f-r">男</span>
              </li>
              <li>
                       <span>预产期</span>
                    <span class="f-r">2013/05/05</span>
              </li>
               <li>
                       <span>出生身长</span>
                    <span class="f-r">50.6cm</span>
              </li>
              <li>
                       <span>出生体重</span>
                    <span class="f-r">2306kg</span>
              </li>
              <li>
                       <span>出生头围</span>
                    <span class="f-r">34.3cm</span>
              </li>
              <li>
                       <span>分娩方式</span>
                    <span class="f-r">剖腹产</span>
              </li>
              <li>
                       <span>参考指标</span>
                    <span class="f-r">小儿黄疸</span>
              </li>
              <li>
                       <span>Apgar评分</span>
                    <span class="f-r">68</span>
              </li>
              <li>
                       <span>生长指标</span>
                    <span class="f-r">WHO</span>
              </li>
              <li>
                       <span>备注</span>
                    <span class="f-r">XXXXXXXXXXXXX</span>
              </li>
            </ul>
        </div>
         <script type="text/javascript" src="/static/js/zepto.min.js"></script>
	    <script type="text/javascript" src="/static/js/extend/touch.js"></script>
	    <script type="text/javascript" src="/static/js/extend/iscroll.js"></script>
	    <script type="text/javascript" src="/static/js/extend/highlight.js"></script>
	    <script type="text/javascript" src="/static/js/extend/parseTpl.js"></script>
	    <script type="text/javascript" src="/static/js/core/gmu.js"></script>
	    <script type="text/javascript" src="/static/js/core/event.js"></script>
	     <script type="text/javascript" src="/static/js/core/widget.js"></script>
	    <script type="text/javascript" src="/static/js/widget/navigator/navigator.js"></script>
	    <script type="text/javascript" src="/static/js/widget/navigator/scrolltonext.js"></script>
	    <script type="text/javascript" src="/static/js/widget/navigator/$scrollable.js"></script>
	    <script type="text/javascript" src="/static/js/base.js"></script>
	    <script type="text/javascript">
	        MZ.app.slideNavigator()
	    </script>
</body>
</html>