<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>{{ baby.baby_name }}</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
</head>
<body>

           <div class="baby-img">
              <a href="#">
                {% if baby.picture_path %}
                  <img src="{{ baby.picture_path }}" alt="" />
                {% else %}
                  <img src="/static/img/system/head_picture/71X71.png" />
                {% endif %}
              </a>
           </div>

           <div class="need-list baby-info-items">
            <ul>
              <li>
                    <span>家长手机号</span>
                    <span class="f-r">{{ baby.patriarch_tel }}</span>
              </li>
              <li>
                       <span>婴儿名</span>
                    <span class="f-r">{{ baby.baby_name }}</span>
              </li>
              <li>
                       <span>性别</span>
                    <span class="f-r">{{ baby.gender }}</span>
              </li>
              <li>
                       <span>预产期</span>
                    <span class="f-r">{{ baby.due_date }}</span>
              </li>
               <li>
                       <span>出生身长</span>
                    <span class="f-r">{{ baby.born_height }} cm</span>
              </li>
              <li>
                       <span>出生体重</span>
                    <span class="f-r">{{ baby.born_weight }} kg</span>
              </li>
              <li>
                       <span>出生头围</span>
                    <span class="f-r">{{ baby.born_head }} cm</span>
              </li>
              <li>
                       <span>分娩方式</span>
                    <span class="f-r">{{ baby.childbirth_style }} </span>
              </li>
              <li>
                       <span>参考指标</span>
                    <span class="f-r">{{ baby.complication }}</span>
              </li>
              <li>
                       <span>Apgar评分</span>
                    <span class="f-r">{{ baby.apgar_score }}</span>
              </li>
              <li>
                       <span>生长指标</span>
                    <span class="f-r">{{ baby.growth_standard }}</span>
              </li>
              <li>
                       <span>备注</span>
                    <span class="f-r">XXXXXXXXXXXXX</span>
              </li>
            </ul>
        </div>
         <script type="text/javascript" src="/static/js/zepto.min.js"></script>
	    <script type="text/javascript" src="/static/js/base.js"></script>
	    <script type="text/javascript">
	        MZ.app.slideNavigator()
	    </script>
</body>
</html>