<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>喂养量分析</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
<style type="text/css">
    .need-list ul li span {font-size: 12px;}
    .need-title {font-size: 14px;}
</style>
<script type="text/javascript">
    window.growObj = {
        'xAxis': ['{{ analysis.measure_date }}'],
        'yStart': 0,
        'yEnd': 1000,
        'ySpace': 200,
        'data': [{
            name: '母乳',
            value: {{ breastfeeding}},
            color: '#08c'
        }, {
            name: '配方奶',
            value: {{ formula_feeding }},
            color: '#c12c44'
        }]
    };
</script>
</head>
<body>
    <section>
            <div class="chart-frame">
                <div class="chart-stage" id="linechart">
                        <div id="canvasDiv"></div>
                </div>

                 <!--<h3 class="chart-x">月龄</h3>-->
            </div>


            <h3 class="need-title">当天喂养量</h3>
            <div class="need-list">
                <ul>
                    <li>
                        <span>母乳</span>
                        <span class="f-r"></span>
                        <span class="f-r">{{ analysis.breast_milk_amount }}（毫升/天）</span>
                    </li>
                    <li>
                        <span>早产儿院内专用配方奶</span>
                        <span class="f-r"></span>
                        <span class="f-r">{{ analysis.formula_feed_measure }}（毫升/天）</span>
                    </li>
                    <li>
                        <span>早产儿出院后专用配方奶</span>
                        <span class="f-r"></span>
                        <span class="f-r">{{ analysis.formula_feed_measure }}（毫升/天）</span>
                    </li>
                </ul>
            </div>

        <h3 class="need-title">当天喂养量差距（不同喂养信息显示不同）</h3>
        <div class="need-list" style="margin-bottom: 20px;">
            <ul>
                <li>
                    <span>喂养信息</span>
                    <span class="f-r">营养差距显示内容</span>
                </li>
                <li>
                    <span>纯母乳喂养</span>
                    <span class="f-r"></span>
                    <span class="f-r">{{ analysis.breast_milk_amount }}（毫升/天）</span>
                </li>
                <li>
                    <span>早产儿院内专用配方奶</span>
                    <span class="f-r"></span>
                    <span class="f-r">{{ analysis.formula_feed_measure }}（毫升/天）</span>
                </li>
            </ul>
        </div>

    </section>
    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/chart.min.js"></script>
    <script type="text/javascript" src="/static/js/barChart.js"></script>
    <script type="text/javascript">
        a_chart_tab = $('.chart-tab a') //得到类样式.chart-tab包含的所有a标签元素
        $(a_chart_tab).each(function(i, ele){
            types = '{{ types }}'
            e_id = ele.id
            if (e_id == types){
                ele.className = 'current'
            }else{
                ele.className = ''
            }
        })
    </script>
    <script type="text/javascript">
        // MZ.app.slideNavigator()
    </script>
</body>
</html>