<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>生长曲线</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
<script type="text/javascript">
    window.growObj = {
        'xAxis': ['13-02-05', '13-06-05', '13-10-05', '13-12-05', '14-02-05'],
        'yStart': 0,
        'yEnd': 5,
        'ySpace': 1,
        'data': [{
            name: '母乳',
            value: [3.2, 4.1, 3.9, 3.4, 3.1],
            color: '#08c'
        }]
    };
</script>
</head>
<body>
    <section>

           <div class="need-list" style="margin-top: 10px;">
            <ul>
                <li>
                    <span>已摄入营养</span>
                </li>
                <li>
                    <span>能量</span>
                    <span class="f-r">kcal/kg/day</span>
                </li>
                <li>
                    <span>蛋白质</span>
                    <span class="f-r">mg/kg/day</span>
                </li>
            </ul>
        </div>

        <div class="need-list">
            <ul>
                <li>
                    <span>当前营养差距</span>
                </li>
                <li>
                    <span>能量</span>
                    <span class="f-r">kcal/kg/day</span>
                </li>
                <li>
                    <span>蛋白质</span>
                    <span class="f-r">mg/kg/day</span>
                </li>
            </ul>
        </div>
    
            <div class="chart-frame">

                <div class="chart-stage" id="linechart">
                        <div id="canvasDiv"></div>
                </div>

            </div>

    </section>
    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/chart.min.js"></script>
    <script type="text/javascript" src="/static/js/barChart2.js"></script>
    <script type="text/javascript">
        MZ.app.slideNavigator()
    </script>
</body>
</html>