<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>{{ baby.baby_name }}</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
<script type="text/javascript">

    window.weightObj = {
        'xAxis': ["24","","26","","28","","30","","32","","34","","36","","38","","40","","42","","44","","46","","48","","50"],  // 横坐标的范围（月份建议01...12）
        'yStart': 0, // 这个数值是y轴最小值
        'yEnd': 60, // 这个数值是y轴最大值,
        'ySpace': 10, // y值刻度差范围
        'data': [{
            name: '3rd',
            value: {{ grow_p3 }},
            color: '#000000',
            line_width: 1
        },
        {
            name: '10th',
            value: {{ grow_p15 }},
            color: '#0000FF',
            line_width: 1
        },
        {
            name: '50th',
            value: {{ grow_p75 }},
            color: '#FF0000',
            line_width: 1
        },
        {
            name: '90th',
            value: {{ grow_p95 }},
            color: '#0d8ecf',
            line_width: 1
        },
        {
            name: '97th',
            value: {{ grow_negative3 }},
            color: '#0d8ecf',
            line_width: 1
        },
        {
            name: 'BABY',
            value: {{ tracking }},
            color: '#6db284',
            line_width: 1
        }]
    }
</script>
</head>
<body>
    <section>
            <div class="chart-frame">
                <div class="chart-tab">
                    <a href="/html/grow_line_fen_tong.html/{{ user_id }}?type=weight&way=week" id="weight">体     重</a>
                    <a class="current" href="/html/grow_line_fen_tong.html/{{ user_id }}?type=height&way=week" id="height">身     长</a>
                    <a href="/html/grow_line_fen_tong.html/{{ user_id }}?type=head&way=week" id="head">头     围</a>
                </div>
                <!--<h3 class="chart-y" id="mark">体              重</h3>-->

                <div class="chart-stage" id="linechart">
                        <div id="canvasDiv"></div>
                </div>

                <h3 class="chart-x">周龄</h3>
            </div>

            <ul class="select-block clearfix">
                     <ul>
                         {% if baby.is_compare == 40 %}
                               <li>
                                    <a href="/html/grow_line_fentong.html/{{ baby.id }}"><div class="iradio checked"><input type="radio" class="test" name="place" value="1" checked></div></a>
                                    <label for="y-in">FenTong</label>
                                </li>
                         {% else %}
                               <li>
                                    <a href="/html/grow_line.html/{{ baby.id }}"><div class="iradio"><input type="radio" class="test" name="place" value="0" checked></div></a>
                                    <label for="y-in">WHO</label>
                                </li>
                                <li>
                                    <a href="/html/grow_line_nine.html/{{ baby.id }}"><div class="iradio"><input type="radio" class="test" name="place" value="1" checked></div></a>
                                    <label for="y-in">九城</label>
                                </li>
                               <li>
                                    <a href="/html/grow_line_fentong.html/{{ baby.id }}"><div class="iradio checked"><input type="radio" class="test" name="place" value="1" checked></div></a>
                                    <label for="y-in">FenTong</label>
                                </li>
                         {% endif %}
                     </ul>
            </ul>

    </section>
    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/chart.min.js"></script>
    <script type="text/javascript" src="/static/js/chart.js"></script>
    <script type="text/javascript">
        a_chart_tab = $('.chart-tab a') //得到类样式.chart-tab包含的所有a标签元素
        marks = $('#mark') //得到标示位
        $(a_chart_tab).each(function(i, ele){
            types = '{{ types }}'
            e_id = ele.id
            if (e_id == types){
                ele.className = 'current'
                if (types == 'weight'){
                    marks.html('体              重')
                }
                if (types == 'height'){
                    marks.html('身              长')
                }
                if (types == 'head'){
                    marks.html('头              围')
                }
            }else{
                ele.className = ''
            }
        })
    </script>
    <script type="text/javascript">
        MZ.app.checkRadio('.iradio');
    </script>
</body>
</html>