<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>{{ baby.baby_name }}</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
<script type="text/javascript">
    window.growObj = {
        'xAxis': ['13-02-05', '13-06-05', '13-10-05', '13-12-05', '14-02-05'],
        'yStart': 0,
        'yEnd': 1000,
        'ySpace': 200,
        'data': {{ baby.milk}}
    };
</script>
</head>
<body>
    <section>

           <div class="need-list" style="margin-top: 10px;">
            <ul>
                <li>
                    <span>已摄入营养</span>
                </li>
                <li>
                    <span>能量</span>
                    <span class="f-r">{{ baby.energy }}kcal/kg/day</span>
                </li>
                <li>
                    <span>蛋白质</span>
                    <span class="f-r">{{ baby.protein }}mg/kg/day</span>
                </li>
            </ul>
        </div>

        <div class="need-list">
            <ul>
                <li>
                    <span>当前营养差距</span>
                </li>
                <li>
                    <span>能量</span>
                    <span class="f-r">{{ baby.protein }}kcal/kg/day</span>
                </li>
                <li>
                    <span>蛋白质</span>
                    <span class="f-r">{{ baby.energy }}mg/kg/day</span>
                </li>
            </ul>
        </div>
        <!--<div id="canvasDiv" style="margin: 10px 10px 10px 10px;"></div>-->
        <div class="chart-frame" style="margin: 0 10px">
            <div class="chart-stage" id="linechart">
                <div id="canvasDiv"></div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/chart.min.js"></script>
    <script type="text/javascript" src="/static/js/barChart2.js"></script>
</body>
</html>
