<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>{{ baby.baby_name }}</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
<script type="text/javascript">

    window.weightObj = {
        'xAxis': ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],  // 横坐标的范围（月份建议01...12）
        'yStart': 0, // 这个数值是y轴最小值
        'yEnd': 60, // 这个数值是y轴最大值,
        'ySpace': 20, // y值刻度差范围
        'data': [{
            name: '3rd',
            value: {{ grow_p3 }},
            color: 'black',
            line_width: 1
        },
        {
            name: '15th',
            value: {{ grow_p15 }},
            color: 'blue',
            line_width: 1
        },
        {
            name: '75th',
            value: {{ grow_p75 }},
            color: 'red',
            line_width: 1
        },
        {
            name: '95th',
            value: {{ grow_p95 }},
            color: '#0d8ecf',
            line_width: 1
        },
        {
            name: 'BABY',
            value: {{ tracking }},
            color: '#6db284',
            line_width: 1
        }]
    }
</script>
</head>
<body>
    <section>
            <div class="chart-frame">
                <div class="chart-tab">
                    <a class="current" href="/html/grow_line.html/{{ user_id }}?type=weight" id="weight">体     重</a>
                    <a href="/html/grow_line.html/{{ user_id }}?type=height" id="height">身     长</a>
                    <a href="/html/grow_line.html/{{ user_id }}?type=head" id="head">头     围</a>
                </div>
                <h3 class="chart-y" id="mark">体              重</h3>

                <div class="chart-stage" id="linechart">
                        <div id="canvasDiv"></div>
                </div>

                <h3 class="chart-x">月龄</h3>
            </div>

            <ul class="select-block clearfix">
                     <ul>
                               <li>
                                    <div class="iradio checked"><input type="radio" class="test" name="place" value="0" checked></div>
                                    <label for="y-in">WHO</label>
                                </li>
                                <!--<li>-->
                                    <!--<div class="iradio"><input type="radio" class="test" name="place" value="1" checked></div>-->
                                    <!--<label for="y-in">上海</label>-->
                                <!--</li>-->
                     </ul>
            </ul>

    </section>
    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/chart.min.js"></script>
    <script type="text/javascript" src="/static/js/chart.js"></script>
    <script type="text/javascript">
        a_chart_tab = $('.chart-tab a') //得到类样式.chart-tab包含的所有a标签元素
        marks = $('#mark') //得到标示位
        $(a_chart_tab).each(function(i, ele){
            types = '{{ types }}'
            e_id = ele.id
            if (e_id == types){
                ele.className = 'current'
                if (types == 'weight'){
                    marks.html('体              重')
                }
                if (types == 'height'){
                    marks.html('身              长')
                }
                if (types == 'head'){
                    marks.html('头              围')
                }
            }else{
                ele.className = ''
            }
        })
    </script>
    <script type="text/javascript">
        MZ.app.checkRadio('.iradio');
    </script>
</body>
</html>