<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>育儿指南</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
</head>
<body>
	<ul class="box-list">
		<li>
			<a href="/html/raise.html" class="box-wrapper clearfix">
				<div class="imag">
					<img src="" alt="" />
					<p>管理员</p>
				</div>
				<div class="cont">
					<h3>您的宝宝5周大</h3>
					<p>您的宝宝正在了解她的手，脚，脚趾等。她还不知道这些东东是她身体的组成部分，还在认识中...</p>
					<p class="date">2013-11-12</p>
				</div>
			</a>
		</li>
		<li>
			<a href="/html/raise.html" class="box-wrapper clearfix">
				<div class="imag">
					<img src="" alt="" />
					<p>管理员</p>
				</div>
				<div class="cont">
					<h3>您的宝宝5周大</h3>
					<p>您的宝宝正在了解她的手，脚，脚趾等。她还不知道这些东东是她身体的组成部分，还在认识中...</p>
					<p class="date">2013-11-12</p>
				</div>
			</a>
		</li>
		<li>
			<a href="/html/raise.html" class="box-wrapper clearfix">
				<div class="imag">
					<img src="" alt="" />
					<p>管理员</p>
				</div>
				<div class="cont">
					<h3>您的宝宝5周大</h3>
					<p>您的宝宝正在了解她的手，脚，脚趾等。她还不知道这些东东是她身体的组成部分，还在认识中...</p>
					<p class="date">2013-11-12</p>
				</div>
			</a>
		</li>
	</ul>
</body>
</html>