<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>随访记录</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
</head>
<body>
	<div class="nav-wrapper">
                <a id="L-arrow-left" class="arrow"><span>&lt;</span></a>
                <div class="nav-cont" id="L-nav">
                    <ul>
                        <li><a href="/html/visit_record.html/{{ user_id }}">随访记录</a></li>
                        <li><a href="/html/grow_line.html/{{ user_id }}">生长曲线</a></li>
                        <li><a href="/html/grow_rate.html/{{ user_id }}">生长速率</a></li>
                        {% if entrance == 'baby' %}

                        {% else %}
                            <li><a href="/html/baby_detail.html/{{ user_id }}">详细资料</a></li>
                        {% endif %}
                    </ul>
                </div>
                <a id="L-arrow-right" class="arrow"><span>&gt;</span></a>
           </div>

           <div class="visit-title clearfix">
           	<img src="/static/img/system/head_picture/71X71.png" alt="" />
            {% if record_count == 0 %}
               <p class="title">{{ baby.baby_name }} 还没有随访记录，快去添加历史随访记录吧！</p>
            {% else %}
               <p class="title">{{ baby.baby_name }} 已经出生{{ baby.birthday }}大，快来看看历史随访记录吧！</p>
            {% endif %}
           </div>

           <div class="visit-wrapper">
           	<ul class="visit-list">
              {% if record_count != 0 %}
                {% if record_count > 1 %}
                    {% for r in record %}
                        <li class="clearfix">
                            <div class="dark-line"></div>
                            <a href="/html/grow_bar.html/1">
                            <div class="visit-dialog">
                                <p class="t">{{ r.measure_date }}  {{ r.birthday_time }} </p>
                                <p>身长：{{ r.height }} cm（x%）</p>
                                <p>体重：{{ r.weight }} g（y%）</p>
                                <p>头围：{{ r.head_wai }} cm（z%）</p>
                                <p>母乳喂养量：{{ r.formula_feed_measure }} ml（z%）</p>
                                <p>低出生体重儿院内专用配方奶喂养量</p>
                            </div>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="clearfix">
                        <div class="dark-line"></div>
                        <a href="/html/need.html">
                        <div class="visit-dialog">
                            <p class="t">{{ record.measure_date }}  {{ r.birthday_time }} </p>
                            <p>身长：{{ record.height }} cm（x%）</p>
                            <p>体重：{{ record.weight }} g（y%）</p>
                            <p>头围：{{ record.head_wai }} cm（z%）</p>
                            <p>母乳喂养量：{{ record.formula_feed_measure }} ml（z%）</p>
                            <p>低出生体重儿院内专用配方奶喂养量</p>
                        </div>
                        </a>
                    </li>
                {% endif %}
              {% endif %}
           	</ul>
           </div>

         <script type="text/javascript" src="/static/js/zepto.min.js"></script>
	    <script type="text/javascript" src="/static/js/extend/touch.js"></script>
	    <script type="text/javascript" src="/static/js/extend/iscroll.js"></script>
	    <script type="text/javascript" src="/static/js/extend/highlight.js"></script>
	    <script type="text/javascript" src="/static/js/extend/parseTpl.js"></script>
	    <script type="text/javascript" src="/static/js/core/gmu.js"></script>
	    <script type="text/javascript" src="/static/js/core/event.js"></script>
	     <script type="text/javascript" src="/static/js/core/widget.js"></script>
	    <script type="text/javascript" src="/static/js/widget/navigator/navigator.js"></script>
	    <script type="text/javascript" src="/static/js/widget/navigator/scrolltonext.js"></script>
	    <script type="text/javascript" src="/static/js/widget/navigator/$scrollable.js"></script>
	    <script type="text/javascript" src="/static/js/base.js"></script>
	    <script type="text/javascript">
	        MZ.app.slideNavigator()
	    </script>
</body>
</html>