<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>新增随访记录</title>
	<link rel="stylesheet" href="/static/css/m.min.css" type="text/css"></head>
<body class="bg-gray">
	<section class="huge-box">
		<form id="formula-form">
			<ul class="form-list mt0">
				<li class="clearfix">
					<label class="f-l">测量日期：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap nobg">
							<input type="date" class="input-date" id="l-checkdate"/>
                            <input type="hidden" id="baby_id" value="{{ baby_id }}"/>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">体重：</label>
					<div class="input-wrap f-r">
						<input type="number" id="l-weight" />kg
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">身长：</label>
					<div class="input-wrap f-r">
						<input type="number" id="l-height" />cm
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">头围：</label>
					<div class="input-wrap f-r">
						<input type="number" id="l-head" />cm
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">母乳喂养：</label>
					<div class="input-wrap f-r">
						<input type="number" id="l-breastfeeding" />ml
					</div>
				</li>

				<li class="line"></li>

				<li class="clearfix">
					<label class="f-l">配方奶种类：</label>
					<div class="input-wrap f-r">
						<p class="btn-wrap">
							<a href="/html/need.html" class="green-btn2">查看营养数据</a>
							<a href="/html/formula.html"  class="green-btn2">新增加配方奶</a>
						</p>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">院内/外：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="hospital" id="l-location">
                                {% if court_count > 1 %}
                                    {% for court in courts %}
                                       <option value="{{ court.id }}">{{ court.type }}</option>
                                    {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">品牌：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="class" id="l-brand">

							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">种类：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="profile" id="l-kind">

							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">配方奶营养量：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="profile" id="l-nutrition">
								<option value="1">职称1</option>
								<option value="2">职称2</option>
								<option value="3">职称3</option>
								<option value="4">职称4</option>
							</select>
						</div>
					</div>
				</li>
				<li class="line"></li>
				<li class="clearfix">
					<label class="f-l">&nbsp;</label>
					<div class="input-wrap form-btns f-r">
						<a href="javascript:void(0)" class="btn green-btn submit">提     交</a>
					</div>
				</li>
			</ul>
	</form>
</section>
     <script type="text/javascript" src="/static/js/zepto.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript">
        var brandArray = new Array()
        var formulaArray = new Array()
        {% set count = 0 %}
        {% for brand in brands %}
            brandArray[{{ count }}] = new Array({{ brand.court_id }}, "{{ brand.name}}", {{ brand.id }})
            {% set count = count + 1 %}
        {% endfor %}

        {% set count1 = 0 %}
        {% for formula in formulas %}
            formulaArray[{{ count1 }}] = new Array({{ formula.brand_id }}, "{{ formula.type}}", {{ formula.id }})
            {% set count1 = count1 + 1 %}
        {% endfor %}
        $(function(){
            courtObj = $('#l-location')
            brandObj = $('#l-brand')
            kindObj = $('#l-kind')
            var c_defaultVal = courtObj.val()
            // 绑定change时间，实现连动
            courtObj.bind('change', function(){
                brandObj.empty()
                var selectedVal = parseInt($(this).val())
                var is_true = true
                for (i =0; i < brandArray.length; i++) {
                    var brandVal = brandArray[i][0]
                    if (selectedVal == brandVal){
                        // var options = $("<option value='"+brandArray[i][2]+"'>"+brandArray[i][1]+"</option>")
                        brandObj.append("<option value='"+brandArray[i][2]+"'>"+brandArray[i][1]+"</option>")
                        is_true = false
                    }
                }
                if (is_true){
                    brandObj.append("<option value='0'>暂无此品牌</option>")
                }
                var b_defaultVal = brandObj.val()
                kindObj.empty()
                for (i =0; i < formulaArray.length; i++) {
                    var kindVal = formulaArray[i][0]
                    if (b_defaultVal == kindVal){
                        // var options = $("<option value='"+brandArray[i][2]+"'>"+brandArray[i][1]+"</option>")
                        kindObj.append("<option value='"+formulaArray[i][2]+"'>"+formulaArray[i][1]+"</option>")
                    }
                }
            })
            brandObj.bind('change', function(){
                var selectedVal = parseInt($(this).val())
                kindObj.empty()
                var is_true = true
                for (i =0; i < formulaArray.length; i++) {
                    var kindVal = formulaArray[i][0]
                    if (selectedVal == kindVal){
                        // var options = $("<option value='"+brandArray[i][2]+"'>"+brandArray[i][1]+"</option>")
                        kindObj.append("<option value='"+formulaArray[i][2]+"'>"+formulaArray[i][1]+"</option>")
                        is_ture = false
                    }
                }
                if (is_true){
                    kindObj.append("<option value='0'>暂无此种类</option>")
                }
            })
            //加载页面时候，默认选中
            for (i =0; i < brandArray.length; i++) {
                    var brandVal = brandArray[i][0]
                    if (c_defaultVal == brandVal){
                        // var options = $("<option value='"+brandArray[i][2]+"'>"+brandArray[i][1]+"</option>")
                        brandObj.append("<option value='"+brandArray[i][2]+"'>"+brandArray[i][1]+"</option>")
                    }
            }
            var b_defaultVal = brandArray[0][0]
            for (i =0; i < formulaArray.length; i++) {
                    var kindVal = formulaArray[i][0]
                    if (b_defaultVal == kindVal){
                        // var options = $("<option value='"+brandArray[i][2]+"'>"+brandArray[i][1]+"</option>")
                        kindObj.append("<option value='"+formulaArray[i][2]+"'>"+formulaArray[i][1]+"</option>")
                    }
            }
        })
    </script>
	<script>
		$(function(){
			MZ.app.addVisitSubmit('#formula-form');
		})
	</script>
</body>
</html>