<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>创建婴儿账户</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
</head>
<body class="bg-gray">
	<section class="huge-box">
		<form id="create-baby-form">
			<ul class="form-list mt0">
				<li class="clearfix">
					<label class="f-l">家长手机号：</label>
					<div class="input-wrap f-r">
						<input type="text" id="z-patriarch-tel"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">婴儿名：</label>
					<div class="input-wrap f-r">
						<input type="text" id="z-baby-name"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">初始密码：</label>
					<div class="input-wrap f-r">
						<input type="password" id="z-password"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">确认密码：</label>
					<div class="input-wrap f-r">
						<input type="password" id="z-confirm-password"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">性别：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="region" id="z-gender">
								<option value="1">男</option>
								<option value="2">女</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">预产期：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap nobg">
							<input type="date" class="input-date" id="z-due-date"/>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">出生日期：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap nobg">
							<input type="date" class="input-date" id="z-birthday"/>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">出生体重：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="class" id="z-weight">
								<option value="1">1kg</option>
								<option value="2">2kg</option>
								<option value="3">3kg</option>
								<option value="4">4kg</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">出生身长：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="class" id="z-height">
								<option value="1">1cm</option>
								<option value="2">2cm</option>
								<option value="3">3cm</option>
								<option value="4">4cm</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">出生头围：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="class" id="z-head">
								<option value="1">1cm</option>
								<option value="2">2cm</option>
								<option value="3">3cm</option>
								<option value="4">4cm</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">分娩方式：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="region" id="z-childbirth">
								<option value="1">顺产</option>
								<option value="2">破腹产</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">合并症：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="region" id="z-complication">
								<option value="1">有</option>
								<option value="2">木有</option>
							</select>
						</div>
					</div>
				</li>
			</ul>
			<div class="text-ct">
				<a href="javascript:void(0)" class="btn green-btn" id="z-create">创     建</a>
			</div>
		</form>
	</section>
    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script>
            $(function(){
                MZ.app.createBabyAccount('#create-baby-form');
            })
    </script>

</body>
</html>