<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>配方奶</title>
	<link rel="stylesheet" href="/static/css/m.min.css" type="text/css"></head>
<body class="bg-gray">
	<section class="huge-box">
		<form id="formula-form">
			<ul class="form-list mt0">
				<li class="clearfix location">
					<label class="f-l">院内/外：</label>
					<div class="input-wrap f-r">
						<div class="radio-wrap">
							<ul>
                            {% if court_count > 1 %}
                                {% set count = 1 %}
                                {% for c in court %}
                                    <li>
                                        <label for="y-in">{{ c.type }}</label>
                                        {% if count > 1 %}
                                          <div class="iradio"><input type="radio" name="location" id="two" value="{{ c.id }}" checked></div>
                                        {% else %}
                                          <div class="iradio checked"><input type="radio" name="location" id="one" value="{{ c.id }}" checked></div>
                                        {% endif %}
                                    </li>
                                   {% set count = count + 1 %}
                                {% endfor %}
                            {% elif court_count == 1 %}
                                <li>
									<label for="y-in">{{ court.type }}</label>
									<div class="iradio checked"><input type="radio" name="location" value="{{ court.id }}" checked></div>
								</li>
                            {% endif %}
							</ul>
						</div>
					</div>
				</li>
				<li class="clearfix brand">
					<label class="f-l">品牌：</label>
					<div class="input-wrap f-r">
						<div class="radio-wrap">
							<ul id="in-ul">
                             {% if brand_in_count > 1 %}
                                {% set count = 1 %}
                                {% for b in brand_in %}
                                    <li>
                                        <label for="y-in">{{ b.name }}</label>
                                        {% if count > 1 %}
                                            <div class="iradio"><input type="radio" name="brand" value="{{ b.id }}" checked></div>
                                        {% else %}
                                            <div class="iradio checked"><input type="radio" name="brand" value="{{ b.id }}" checked></div>
                                        {% endif %}
                                    </li>
                                {% set count = count + 1 %}
                                {% endfor %}
                             {% elif brand_in_count == 1 %}
                                <li>
									<label for="y-in">{{ brand_in.name }}</label>
									<div class="iradio checked"><input type="radio" name="brand" value="{{ brand_in.id }}" checked></div>
								</li>
                             {% endif %}
							</ul>
                            <ul style="display: none" id="out-ul">
                             {% if brand_out_count > 1 %}
                                {% set count = 1 %}
                                {% for b in brand_out %}
                                    <li>
                                        <label for="y-in">{{ b.name }}</label>
                                        {% if count > 1 %}
                                            <div class="iradio"><input type="radio" name="brand" value="{{ b.id }}" checked></div>
                                        {% else %}
                                            <div class="iradio checked"><input type="radio" name="brand" value="{{ b.id }}" checked></div>
                                        {% endif %}
                                    </li>
                                {% set count = count + 1 %}
                                {% endfor %}
                             {% elif brand_out_count == 1 %}
                                <li>
									<label for="y-in">{{ brand_out.name }}</label>
									<div class="iradio checked"><input type="radio" name="brand" value="{{ brand_out.id }}" checked></div>
								</li>
                             {% endif %}
							</ul>
						</div>

					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">种类：</label>
					<div class="input-wrap f-r">
						<input style="width:60%;" type="text" id="l-kind" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">能量：</label>
					<div class="input-wrap f-r">
						<input style="width:60%;" type="text" id="l-energy"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">蛋白质：</label>
					<div class="input-wrap f-r">
						<input style="width:60%;" type="text" id="l-protein" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">碳水化合物：</label>
					<div class="input-wrap f-r">
						<input style="width:60%;" type="text" id="l-carbohydrates" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">脂肪：</label>
					<div class="input-wrap f-r">
						<input style="width:60%;" type="text" id="l-fat" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">&nbsp;</label>
					<div class="input-wrap form-btns f-r">
						<a href="javascript:void(0)" class="btn green-btn submit">提     交</a>
					</div>
				</li>
			</ul>
			 
		
	</form>
</section>
	<script type="text/javascript" src="/static/js/zepto.min.js"></script>
          <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript">
        $(function(){
            
        })
    </script>
	<script>
		$(function(){
			MZ.app.checkRadio('.iradio');
			MZ.app.formulaSubmit('#formula-form');
		})
	</script>

</body>
</html>