<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>营养摄入要求</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
</head>
<body>
	<h3 class="need-title">营养差距</h3>
	<div class="need-list">
            <ul>
	            <li>
	                	<span>能量差距</span>
	                	<span class="f-r">kcal/kg/day</span>
	            </li>
	            <li>
	                     <span>蛋白质差距</span>
	                	<span class="f-r">mg/kg/day</span>
	            </li>
	            <li>
	                     <span>低出生体重儿院内专用配方奶喂养差距</span>
	                	<span class="f-r">ml</span>
	            </li>
	            <li>
	                     <span>早产儿出院后专用配方奶喂养差距</span>
	                	<span class="f-r">ml</span>
	            </li>
            </ul>
        </div>

        <h3 class="need-title">营养需求</h3>
	<div class="need-list">
            <ul>
	            <li>
	                	<span>能量需求</span>
	                	<span class="f-r">kcal/kg/day</span>
	            </li>
	            <li>
	                     <span>蛋白质需求</span>
	                	<span class="f-r">mg/kg/day</span>
	            </li>
	            <li>
	                     <span>喂养量需求</span>
	                	<span class="f-r">ml/kg/day</span>
	            </li>
	            <li>
	                     <span>母乳喂养满足生长需求</span>
	                	<span class="f-r">ml/kg/day</span>
	            </li>
	             <li>
	                     <span>低出生体重儿满足生长需求</span>
	                	<span class="f-r">ml/kg/day</span>
	            </li>
	             <li>
	                     <span>早产儿出院后专用配方奶喂</span>
	                	<span class="f-r">ml/kg/day</span>
	            </li>
            </ul>
        </div>
</body>
</html>