<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>登录</title>
<link rel="stylesheet" href="css/m.min.css" type="text/css">
</head>
<body>
	<section>
		<h3 class="date-bar">2013 - 11 - 05</h3>
		<div class="clearfix">
			<div class="f-l notifier-wrapper">
				<img src="image/notifer.png" alt="通知人" />
				<p class="notifier-name">管理员</p>
			</div>
			<div class="f-r notification-wrapper">
				<div class="notificaton-cont">
					<p>
						<span class="baby-status">您的宝宝五周大<br></span>
						您的宝宝正在了解他有手，手指，脚和脚趾。至到现在他还不知道她的手脚是他的身体的一部分，也不知道他...</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>