<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>修改密码</title>
<link rel="stylesheet" href="css/m.min.css" type="text/css">
</head>
<body>
	<section>
		<form>
			<ul class="form-list">
				<li class="clearfix">
					<label class="f-l">旧密码：</label>
					<div class="input-wrap f-r">
						<input id="L-old-password" type="password" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">新密码：</label>
					<div class="input-wrap f-r">
						<input id="L-new-password" type="password" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">确认密码：</label>
					<div class="input-wrap f-r">
						<input id="L-re-password" type="password" />
					</div>
				</li>
			</ul>
			<div class="form-btns text-ct wid50 center">
				<a id="L-save" href="javascript: void(0)" class="btn">保存</a>
			</div>
		</form>
	</section>
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
	<script type="text/javascript">
		MZ.app.password()
	</script>
</body>
</html>