<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>登录</title>
<link rel="stylesheet" href="/static/css/user/m.min.css" type="text/css">
</head>
<body class="bg-gray">
	<section class="huge-box">
		<form action="/html/do/register/">
			<ul class="form-list mt0">
				<li class="clearfix">
					<label class="f-l">用户名：</label>
					<div class="input-wrap f-r">
						<input type="text" name="login_name" id="login_name"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">密码：</label>
					<div class="input-wrap f-r">
						<input type="password" name="login_pass" id="login_pass"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">确认密码：</label>
					<div class="input-wrap f-r">
						<input type="password" id="confirm"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">真实姓名：</label>
					<div class="input-wrap f-r">
						<input type="text" name="real_name" id="real_name"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">地区：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="region" id="" name="area" id="province">
								{% if province_count > 1 %}
                                     {% for pro in province %}
                                        <option value="{{ pro.id }}">{{ pro.name }}</option>
                                     {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">所属医院：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="hospital" id="" name="hospital" id="belong-hospital">
                                {% if hospital_count > 1 %}
                                     {% for h in hospital %}
                                        <option value="{{ h.id }}">{{ h.name }}</option>
                                     {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">所属科室：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="class" id="belong-department" name="class">
								{% if department_count > 1 %}
                                     {% for d in department %}
                                        <option value="{{ d.id }}">{{ d.name }}</option>
                                     {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">职称：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="profile" id="position" name="profile">
								{% if position_count > 1 %}
                                     {% for p in position %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                     {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">邮箱：</label>
					<div class="input-wrap f-r">
						<input type="email" name="email" id="email"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">手机号：</label>
					<div class="input-wrap f-r">
						<input type="number" name="number" id="tel"/>
					</div>
				</li>
				<li class="last-agree">
					<input type="checkbox" id="register-agree"/>
				</li>
			</ul>
			<div class="text-ct">
				<a href="javascript:void(0)" class="btn green-btn" id="register-btn">注     册</a>
			</div>
		</form>
	</section>
    <script type="text/javascript" src="/static/js/user/zepto.min.js"></script>
	<script type="text/javascript" src="/static/js/user/base.js"></script>
	<script type="text/javascript">
		MZ.app.register()
	</script>
</body>
</html>