<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>注册</title>
<link rel="stylesheet" href="/static/css/m.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/modal.css" type="text/css">
</head>
<body class="bg-gray">
	<section class="huge-box">
		<form>
			<ul class="form-list mt0">
				<li class="clearfix">
					<label class="f-l">用户名：</label>
					<div class="input-wrap f-r">
						<input type="text" name="login_name" id="login_name"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">密码：</label>
					<div class="input-wrap f-r">
						<input type="password" name="login_pass" id="login_pass"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">确认密码：</label>
					<div class="input-wrap f-r">
						<input type="password" id="confirm"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">真实姓名：</label>
					<div class="input-wrap f-r">
						<input type="text" name="real_name" id="real_name"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">地区：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="region" name="area" id="province">
								{% if province_count > 1 %}
                                     {% for pro in province %}
                                        <option value="{{ pro.id }}">{{ pro.name }}</option>
                                     {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">所属医院：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="hospital" name="hospital" id="belong-hospital">
                                {% if hospital_count > 1 %}
                                     {% for h in hospital %}
                                        <option value="{{ h.id }}">{{ h.name }}</option>
                                     {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">所属科室：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="class" id="belong-department" name="class">
								{% if department_count > 1 %}
                                     {% for d in department %}
                                        <option value="{{ d.id }}">{{ d.name }}</option>
                                     {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">职称：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="profile" id="position" name="profile">
								{% if position_count > 1 %}
                                     {% for p in position %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                     {% endfor %}
                                {% else %}
                                {% endif %}
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">邮箱：</label>
					<div class="input-wrap f-r">
						<input type="email" name="email" id="email"/>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">手机号：</label>
					<div class="input-wrap f-r">
						<input type="number" name="number" id="tel"/>
					</div>
				</li>
				<li class="last-agree">
					<input type="checkbox" id="register-agree"/>
					<label for="register-agree">确认阅读并同意协议（</label><a href="#modal-text">阅读协议</a>）
				</li>
			</ul>
			<div class="text-ct">
				<a href="javascript:void(0)" class="btn green-btn" id="register-btn">注     册</a>
			</div>
		</form>
	</section>

	<section class="semantic-content" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-inner">
			<div class="modal-content">
				<h4>欢迎注册营养随访体系App！</h4>
					<p>请仔细阅读下面的协议，只有接受协议才能继续进行注册。 </p>
					<p>1．服务条款的确认和接纳</p>
					<p>营养随访体系App的所有权和运营权归XXX学会所有。营养随访体系App Android iOS平台所提供的服务将按照有关章程、服务条款和操作规则严格执行。用户通过注册程序点击“我同意” 按钮，即表示用户完全接受本协议的所有条款。</p>
					<p>2. 服务内容</p>
					<p>营养随访体系App Android </p>
					<p>iOS平台的服务内容由XXX学会根据实际情况向平台用户提供，营养随访体系App Android iOS平台保留变更服务的权利。
					</p>
					<p>3. 用户账户的安全性</p>
					<p>用户注册成功后， 营养随访体系App Android iOS平台将给予每个用户一个用户帐号以及相应密码，该用户帐号和密码由用户负责保管，用户应当对以其用户帐号进行的所有活动和事件负法律责任。用户不得以任何形式擅自转让或授权他人使用自己的 营养随访体系App </p>
					<p>ndroidiOS平台用户名或密码。如果用户泄漏了自己的营养随访体系App Android</p>
					<p>iOS平台用户名或密码，有可能导致不利的法律后果将由用户自己承担。</p>
			</div>
		</div>
		<a href="#!" class="modal-close" data-dismiss="modal">&times;</a>
	</section>

    	<script type="text/javascript" src="/static/js/zepto.min.js"></script>
    	<script src="/static/js/modal.js"></script>
	<script type="text/javascript" src="/static/js/base.js"></script>
	<script type="text/javascript">
		// 注册函数
		MZ.app.register()
	</script>
</body>
</html>