<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>登录</title>
<link rel="stylesheet" href="/static/css/user/m.min.css" type="text/css">
</head>
<body class="bg-gray">
	<section class="huge-box">
		<form>
			<ul class="form-list mt0">
				<li class="clearfix">
					<label class="f-l">用户名：</label>
					<div class="input-wrap f-r">
						<input type="text" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">密码：</label>
					<div class="input-wrap f-r">
						<input type="password" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">确认密码：</label>
					<div class="input-wrap f-r">
						<input type="password" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">真实姓名：</label>
					<div class="input-wrap f-r">
						<input type="text" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">地区：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="region" id="">
								<option value="1">北京</option>
								<option value="2">上海</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">所属医院：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="hospital" id="">
								<option value="1">骨科医院</option>
								<option value="2">婴儿医院</option>
								<option value="3">第八中医院</option>
								<option value="4">交大医院</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">所属科室：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="class" id="">
								<option value="1">科室1</option>
								<option value="2">科室2</option>
								<option value="3">科室3</option>
								<option value="4">科室4</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">职称：</label>
					<div class="input-wrap f-r">
						<div class="select-wrap">
							<select name="profile" id="">
								<option value="1">职称1</option>
								<option value="2">职称2</option>
								<option value="3">职称3</option>
								<option value="4">职称4</option>
							</select>
						</div>
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">邮箱：</label>
					<div class="input-wrap f-r">
						<input type="email" />
					</div>
				</li>
				<li class="clearfix">
					<label class="f-l">手机号：</label>
					<div class="input-wrap f-r">
						<input type="number" />
					</div>
				</li>
				<li class="last-agree">
					<input type="checkbox" id="register-agree"/>
					<label for="register-agree">确认阅读并同意协议（</label><a href="#">阅读协议</a>）
				</li>
			</ul>
			<div class="text-ct">
				<a href="#" class="btn green-btn">注     册</a>
			</div>
		</form>
	</section>
</body>
</html>